<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="chrome=1">
                <title>Statistical Models: Theory and Applications</title>
                
                <link rel="stylesheet" href="stylesheets/styles.css">
                    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
                        <!--	<link href='http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'> -->
                        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
                            <!--[if lt IE 9]>
                             <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
                             <![endif]-->
                            </head>
    <body>
        <div class="wrapper">
            <header>
                <h1><a href="index.html">Statistical Models: Theory and Applications</a></h1>
                <p></p>
                
                <p class="view"><a href="https://github.com/rlbarter/Stat_Models_Book">View the Project on GitHub <small>rlbarter/Stat_Models_Book</small></a></p>
                
                
                <ul>
                    <li><a href="https://github.com/rlbarter/Stat_Models_Book/zipball/master">Download <strong>ZIP File</strong></a></li>
                    <li><a href="https://github.com/rlbarter/Stat_Models_Book/tarball/master">Download <strong>TAR Ball</strong></a></li>
                    <li><a href="https://github.com/rlbarter/Stat_Models_Book">View On <strong>GitHub</strong></a></li>
                </ul>
            </header>